<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Barcode.Properties.Settings.barcodeConnectionString"
            connectionString="Data Source=DESKTOP-Q1K44I8\SA;Initial Catalog=barcode;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>